apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - deployment.yaml
  - service.yaml
images:
  - name: ghcr.io/amey-bhargave/test-html-code
    newTag: sha-46142b656d3f0697b73ed8594f00f86579cf27e5
    newName: ghcr.io/amey-bhargave/test-html-code
