apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - deployment.yaml
  - service.yaml
images:
  - name: ghcr.io/amey-bhargave/test-html-code
    newTag: sha-905e10cf249c4a6b12b1c06e045f4adee5c85c51
    newName: ghcr.io/amey-bhargave/test-html-code
