apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - deployment.yaml
  - service.yaml
images:
  - name: ghcr.io/amey-bhargave/test-html-code
    newTag: sha-3a0b2d6f8e170dbeaf75c13f720121b1d059f11d
    newName: ghcr.io/amey-bhargave/test-html-code
